:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}

.left-container{
    position: relative;
    height: 100%;
    width: calc(100% / 3 * 1); 
}

#background-photo {
    width: 100%;
    height: 100%;
    object-fit:cover;
    vertical-align:top;
}

.photo-credit{
    position: absolute;
    color: white;
    font-size: 1.1rem;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    position:absolute;
    bottom: 50%;
}

#logo {
    width: 50%;
    height: auto;
}

#logo-name {
    color: white;
    text-align: center;
}
.left-container a {
    color: white;
}

.right-container{
    width: calc(100% / 3 * 2);
    height: 100%;
}